In [1]:
import pandas as pd

## Remove excess listings

In [53]:
df = pd.read_csv('data/listings.csv')
colsToKeep = ['id', 'name', 'price', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin',
               'review_scores_communication', 'review_scores_location', 'review_scores_value', 'neighbourhood']
df = df[colsToKeep]
top50Listings = pd.read_csv('data/top_50.csv')
listing_ids = top50Listings['listing_id'].unique()
# len(listing_ids)
top_listings = df.loc[df['id'].isin(listing_ids)]
top_listings.to_csv('data/listings_clean.csv', index=False)

C:\Users\smart\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Get answers

In [54]:
df = pd.read_csv('data/listings_clean.csv')
# df.drop('Unnamed: 0', inplace=True)

In [56]:
df.head()

,id,name,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,neighbourhood
0,15440,Venice Beach Walkstreet Guesthouse,$140.00,99.0,10.0,10.0,10.0,10.0,10.0,10.0,Venice
1,54829,Beautiful Venice Beach Home Oasis,$125.00,97.0,10.0,10.0,10.0,10.0,9.0,10.0,Venice
2,69838,L.A. Lifestyle--like you live here,$97.00,96.0,10.0,9.0,10.0,10.0,10.0,10.0,Mid-Wilshire
3,76561,BECAUSE REVIEWS DON'T LIE! Go Instant Book Now!,$102.00,96.0,10.0,10.0,10.0,10.0,10.0,10.0,South LA
4,107970,2 Room Poolside Guesthouse +bikes,$90.00,95.0,10.0,10.0,10.0,10.0,10.0,10.0,Long Beach

In [72]:
def getTopKHotelsCriteria(k, criteria=None):
    criteria='review_scores_'+criteria
    if(criteria==None):
        return df.sort_values('review_scores_rating', ascending=False).head(k).name.values
    else:
        return df.sort_values(criteria, ascending=False).head(k).name.values

In [78]:
def getTopKHotelsNeighbourhood(k, neighbourhood=None):
    df_nb = df[df['neighbourhood']==neighbourhood]
    return df_nb.sort_values('review_scores_rating', ascending=False).head(k).name.values

In [103]:
def getFeatureRating(hotel, criteria):
    criteria='review_scores_'+criteria
    return df[df['name']==hotel][criteria].values[0]

In [104]:
getFeatureRating('Beautiful Venice Beach Home Oasis', 'location')

9.0